# === Core ===
numpy
pandas
pandas_ta
python-dateutil
pytz
joblib
configparser
matplotlib

# === Machine Learning ===
scikit-learn
imbalanced-learn
xgboost

# === Deep Learning (LSTM / PyTorch) ===
torch
torchaudio     # optional (boleh hapus kalau size mau kecil)
torchvision    # optional

# === Trading & MT5 Integration ===
MetaTrader5

# === Optional (jika ingin web API / dashboard logger) ===
# fastapi
# uvicorn
# requests
